@{
	ViewData["Title"] = "İletişim Bilgileri";
}
<h1 class="text-center">@ViewData["Title"]</h1>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.0.7/css/boxicons.min.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<div class="container mt-5">
	<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4">
		<div class="col">
			<div class="card radius-15">
				<div class="card-body text-center">
					<div class="p-4 border radius-15">
						<img src="/img/avatar.jpg" width="140" height="140" class="rounded-circle shadow" alt="">
						<h5 class="mb-0 mt-5"></h5>
						<p class="mb-3">.Net Core Developer</p>
						<div class="list-inline contacts-social mt-3 mb-3">
							<a href="mailto:sinannalcaci26@gmail.com" target="_blank" class="list-inline-item bg-gmail text-white border-0"><i class="bx bxl-gmail"></i></a>
							<a href="https://github.com/sinannalcaci" target="_blank" class="list-inline-item bg-github text-white border-0"><i class="bx bxl-github"></i></a>
							<a href="https://www.linkedin.com/in/sinan-nalcaci/" target="_blank" class="list-inline-item bg-linkedin text-white border-0"><i class="bx bxl-linkedin"></i></a>
						</div>
						<div class="d-grid">
							<a href="https://api.whatsapp.com/send?phone=+905075845487" target="_blank" class="btn btn-outline-primary radius-15">Benimle İletişime Geç</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>


